<template name="changePassword">
    <h2>Passwort ändern</h2>
    <form id="changePassword">
        <div class="row">
            <div class="input-field col s5">
                <input id="oldPassword" type="text" class="validate">
                <label for="oldPassword">bisheriges Passwort</label>
            </div>
            <div class="input-field col s5">
                <input id="newPassword" type="text" class="validate">
                <label for="newPassword">neues Passwort</label>
            </div>
            <div class="input-field  col">
                <button type="submit" class="waves-effect waves-light btn">ändern</button>
            </div>
        </div>
    </form>
</template>